body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-left: 545px;
}

a {
    text-decoration: none;
}

.game {
    margin: 2em 213px;
    width: 850px;
    height: 650px;
    border: 3px dotted blue;
    border-radius: 20px;
}

.schermata {
    background-color: rgb(30, 58, 81);
    box-sizing: content-box;
    width: 820px;
    height: 620px;
    margin-top: 15px;
    margin-left: 15px;
    border: 1px dotted blue;
    border-radius: 10px;
}

.gioco {
    width: 800px;
    height: 560px;
    background-image: url('../img/back.png');
    background-size: cover;
    border-radius: 7px;
    margin-left: 10px;
    box-sizing: content-box;
}

.gioco2 {
    position: absolute;
    top: 109px;
    left: 250px;
    width: 800px;
    height: 560px;
    background-color: black;
    opacity: 0.9;
    border-radius: 7px;
}

#home {
    position: absolute;
    left: 240px;
    width: 820px;
    height: 620px;
    background-color: rgb(0, 5, 43);
    z-index: 3;
}

#perso {
    position: absolute;
    left: 240px;
    width: 820px;
    height: 620px;
    background-color: rgb(0, 5, 43);
    z-index: 3;
    display: none;
}

#vinto {
    position: absolute;
    left: 240px;
    width: 820px;
    height: 620px;
    background-color: rgb(0, 5, 43);
    z-index: 3;
    display: none;
}

#perso button {
    background-color: white;
    color: blue;
    margin-left: 310px;
}

#vinto button {
    background-color: white;
    color: blue;
    margin-left: 310px;
}

#home button {
    background-color: white;
    color: blue;
    margin-left: 290px;
}

#welcome {
    text-align: center;
    margin: 100px auto;
    width: 500px;
    height: 150px;
    border: 5px dotted white;
    font-size: 2em;
}

#welcome span {
    font-size: 2.5em;
}

#welcome2 {
    text-align: center;
    margin: 50px auto;
    width: 500px;
    height: 40px;
    border: 5px dotted white;
    font-size: 2em;
}

#ship {
    width: 80px;
    height: 80px;
    background-image: url('../img/ship.svg');
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    left: 650px;
    top: 590px;
}

#colpoship {
    width: 80px;
    height: 80px;
    background-image: url('../img/missile2.svg');
    border-radius: 25px;
    position: absolute;
    left: 250px;
    top: 590px;
    opacity: 0;
}

.cannone {
    width: 80px;
    height: 80px;
    background-image: url('../img/alien.svg');
    border-radius: 25px;
    position: absolute;
    left: 250px;
    top: 110px;
    z-index: 2;
}

#can1 {
    left: 250px;
}

#colpo1 {
    width: 80px;
    height: 80px;
    background-image: url('../img/missile1.svg');
    border-radius: 25px;
    position: absolute;
    top: 110px;
    opacity: 0;
}

#can2 {
    left: 410px;
}

#colpo2 {
    width: 80px;
    height: 80px;
    background-image: url('../img/missile1.svg');
    border-radius: 25px;
    position: absolute;
    left: 410px;
    top: 110px;
    opacity: 0;
}

#can3 {
    left: 570px;
}

#colpo3 {
    width: 80px;
    height: 80px;
    background-image: url('../img/missile1.svg');
    border-radius: 25px;
    position: absolute;
    left: 570px;
    top: 110px;
    opacity: 0;
}

#can4 {
    left: 730px;
}

#colpo4 {
    width: 80px;
    height: 80px;
    background-image: url('../img/missile1.svg');
    border-radius: 25px;
    position: absolute;
    left: 730px;
    top: 110px;
    opacity: 0;
}

#can5 {
    left: 890px;
}

#colpo5 {
    width: 80px;
    height: 80px;
    background-image: url('../img/missile1.svg');
    border-radius: 25px;
    position: absolute;
    left: 890px;
    top: 110px;
    opacity: 0;
}

.bottoni {
    text-align: center;
    margin-top: 1em;
}

button {
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    border-radius: 7px;
}